@import 'nav';
@import 'meetings';
@import 'public-show';

* {
    margin:0;
    padding:0;
}

html, body {
    height:100%;
}

section {
    min-height:100%;
    width:100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

h1, h2, h3, p, li, a, input, button, textarea, label {
    font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #d16644;
  }
}
