@import 'variables';

nav {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: $light-grey;

  .nav-header, .nav-user {
    position: absolute;
    display: flex;
  }
  
  .nav-header {
    left: 1rem;
    top: .75rem;

    a {
      font-size: 1.5rem;
    }
  }

  .nav-user {
    right: 1rem;
    top: 1rem;
  }
}
